body {
  background-image: url("../assets/background.png");
  background-size: cover;
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 0;
}

/*#heads {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 380px -99px;
  position: absolute;
  background-color: black;
  z-index: 1;
}

#tails {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 380px -99px;
  position: absolute;
  background-color: black;
  z-index: 1;
}*/

#timer {
  height: 50px;
  width: 50px;
  border: solid black 2px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  border-radius: 3px;
}

#lights {
  height: 40px;
  width: 840px;
  margin: 0 auto;
}

#lightsHome {
  border: 1px solid black;
  height: 40px;
  width: 160px;
  float: left;
  text-align: center;
  background-color: black;
}

#lightsVisitor {
  border: 1px solid black;
  height: 40px;
  width: 160px;
  float: right;
  text-align: center;
  background-color: black;
}

.hL {
  border: 1px solid black;
  border-radius: 100px;
  height: 37px;
  width: 30px;
  display: inline-block;
  margin: 2px 0 auto;
  padding: 0 5px;
  background-image: url("http://i.stack.imgur.com/iBNIM.png");
  background-size: cover;
  background-position: center;
}

.vL {
  border: 1px solid black;
  border-radius: 100px;
  height: 37px;
  width: 30px;
  display: inline-block;
  margin: 2px 0 auto;
  padding: 0 5px;
  background-image: url("http://i.stack.imgur.com/iBNIM.png");
  background-size: cover;
  background-position: center;
}

#scoreboard {
  height: 60px;
  width: 800px;
  border: solid black 2px;
  margin: 10px auto;
  padding: 20px;
  background-color: #006400;
}

#question {
  height: 80px;
  width: 500px;
  border: solid black 2px;
  margin: -12px auto;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  color: black;
  background-color: white;
  opacity: .9;
}

#home {
  height: 20px;
  width: 90px;
  border: solid black 2px;
  float: left;
  margin: -70px 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#homeScore {
  height: 50px;
  width: 80px;
  border: solid black 2px;
  float: left;
  margin: -40px 15px;
  text-align: center;
  font-size: 45px;
  color: white;
  background-color: black;
}

#visitors {
  height: 20px;
  width: 90px;
  border: solid black 2px;
  float: right;
  margin: -70px 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#visitorsScore {
  height: 50px;
  width: 80px;
  border: solid black 2px;
  float: right;
  margin: -40px 15px;
  text-align: center;
  font-size: 45px;
  color: white;
  background-color: black;
}

#box1 {
  height: 35px;
  width: 25%;
  border: solid black 2px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  vertical-align: top;
  margin: 0 10px 0 10px;
}

#box2 {
  height: 35px;
  width: 25%;
  border: solid black 2px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  vertical-align: top;
  margin: 0 10px 0 10px;
}

#box3 {
  height: 35px;
  width: 25%;
  border: solid black 2px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  vertical-align: top;
  margin: 0 10px 0 10px;
}

#goal {
  height: 400px;
  width: 650px;
  margin: 10px auto;
  background-image: url("../assets/net.png");
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 0;
}

#winner {
  height: 500px;
  width: 500px;
  background-image: url("../assets/worldCup.png");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 42%;
  right: 33%;
}

.answers {
  height: 60px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

#new {
  background-color: white;
  color: black;
  height: 35px;
  width: 150px;
  margin: 0 auto;
}

#ball {
  height: 150px;
  width: 150px;
  background-image: url("../assets/ball.png");
  background-size:contain;
  background-position: center;
  position: absolute;
  left: 10%;
}

.net {
  display: inline-block;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: 5px auto;
}
